*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #22cc1c;
    background-image: linear-gradient(#236cc0, #0cc6e7);
    height: 100vh;/* permite que meu background fique no tamanho do meu site (OBS => em telas cheias)*/
}
.titulo{
    margin: auto;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 35%;
}

#container{
    height: 60px;
    margin-top: 150px;
    font-size: 30px;
    margin-left: 250px;
}

.red{
    -webkit-appearance: none; /* Remove o estilo padrão no Chrome/Safari */
    width:50%;   /*largura da barra*/
     height: 10px; /* Altura da barra */
    background: #eb0808; /* Cor de fundo da barra */
    border-radius: 5px; /* Bordas arredondadas */
     margin-left: 2%;
    cursor: pointer;
}

.green{
    -webkit-appearance: none; 
    width:50%;
    height: 10px; 
    background: #027c12; 
    border-radius: 5px; 
    margin-left: 2%;
    cursor: pointer;
}

.blue{
    -webkit-appearance: none; 
    width:50%;
    height: 10px; 
    background: #0227ce; 
    border-radius: 5px; 
    margin-left: 2%;
    cursor: pointer;
}

.formas{
    display: flex;
}

.quadrado{
    display: flex;
    /* justify-content: center; /*Centraliza o Circulo*/
    
    width: 300px; /* Largura da forma */
    height: 300px; /* Altura da forma */
    background-color: #000000; /* Cor de fundo padrão */
    margin-top: 225px;  
    margin-left: 30px;  
    border: 5px double red; /* permite que eu coloque uma borda em volta do elemento*/
    transform-style: calc(75px 50px 300px);
}


.circulo{
    display: flex;
    /* justify-content: center; /*Centraliza o Circulo*/
    
    width: 300px; /* Largura da forma */
    height: 300px; /* Altura da forma */
    background-color: #000000; /* Cor de fundo padrão */
    border-radius: 100%; /* Faz a forma ficar circular */
    margin-top: 225px; 
    margin-left: 30px;   
    border: 5px double red; /* permite que eu coloque uma borda em volta do elemento*/
    transform-style: calc(75px 50px 300px);
}

.triangulo {
    width: 300px; /* Largura da forma */
    height: 300px; /* Altura da forma */
    background-color: #000000; /* Cor de fundo padrão */
    clip-path: polygon(50% 0%, 0% 100%,100% 100%);
    margin-top: 225px;    

}

.loganzo {
    width: 450px; /* Largura da forma */
    height: 300px; /* Altura da forma */
    background-color: #000000; /* Cor de fundo padrão */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-top: 225px;    
}




@media (max-width: 600px) {
    .loganzo {
      background-color: #FF0000;
    }

    .formas{
        display: flex;
        flex-direction: column;
    }

    body{
        height: 100% ;
    }
}
/* justify-content => ajusta os elemento na horizontal*/
/* align-items => ajusta os elemento na vertical*/
/* (defer) no script do JS => INFORMA O NAVEGADOR QUE ELE PRECISA ESPERAR O HTML CARREGA PARA DEPOIS CARREGAR O JAVASCRIPT*/
